@font-face{
	font-family: 'Portrait';
	src: url('../font/portrait.woff');
}
@font-face{
	font-family: 'PressuraBold';
	src: url('../font/pressuraBold.woff');
}
@font-face{
	font-family: 'PressuraRegular';
	src: url('../font/pressuraReg.woff');
}