header{
	position: relative;
	display: block;
	/*margin-top: 50px !important;*/
	color: white;
	font-family: $font--secondary;
	font-size: 13px;
}
nav{
	position: fixed;
	/*display: none;*/
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: $zI--nav;
	font-size: 240px;
	font-size: 13vw;
	font-family: $font--primary;
	opacity: 0;
	visibility: hidden;
	
}
.nav--active{
	/*display: block;*/
	opacity: 1;
	visibility: visible;
}
.nav-container{
	position: relative;
	height: 100%;
}
.nav-trigger{
	position: fixed;
	right: 10%;
	top: 50px;
	z-index: $zI--nav-trigger;
	cursor: pointer;	
	text-transform: uppercase;
	letter-spacing: 2px;
	img{
		width: 25px;
		height: 25px;
		vertical-align: middle;
		transform: rotate(-45deg);
		transition: all 0.3s;
		transition-delay: 0.5s;
	}
	
}
.nav-trigger--active img{
	transform: rotate(0deg);
	transition-delay: 0s;

}
.nav-bgContainer{
	position: relative;
	width: 75%;
	height: 100%;
	/*left: 110%;*/
	overflow: hidden;
	cursor: url(../media/img/icon--close.svg) 30 30, auto;
}
.nav-bgContainer--active{
	left: 0;
}
.nav-bg{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity 0.35s cubic-bezier(0.39,0.575,0.565,1);
	transition-delay: 0.2s;
	z-index: 3;
	pointer-events: none;
}
.nav-bg--active{
	opacity: 1;
	transition-delay: 0s;
	z-index: 10;
	/*transform: scale(1.03);*/
}
.nav-bg--about{
	background: url('../media/img/menu--about.png');
	background-position: center;
	background-size: cover;
}
.nav-bg--work{
	background: url('../media/img/menu--work.png');
	background-position: center;
	background-size: cover;
}
.nav-bg--resume{
	background: url('../media/img/menu--resume.png');
	background-position: center;
	background-size: cover;
}
.nav-list{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0;
	height: 100%;
	padding-top: 10%;
	padding-top: 10vh;
	padding-bottom: 10%;
	padding-bottom: 10vh;
	padding-left: 0;
	width: 50%;
}
.nav-list-item{
	width: 100%;
	height: 33.33%;
	display: table;
	span{
		position: relative;	
		display: table-cell;
		vertical-align: middle;
		padding-left: 48px;
		z-index: $zI--nav-item;
	}
}
.nav-list--inside .nav-list-item span{
	transition: opacity 0.6s;	
}	
.nav-list-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style-type: none;
}
.nav-list-item--active span{
	/*SEE TOP OF MAIN.SCSS in body.cp / body.cs */
}
.nav-list-item--trasp span{
	opacity: 0.2;
}