$color--primary:					#7019F4;
$color--secondary:					#5E14CC;
$color--textPrimary:				#FE8E65;


$font--primary: 					'Portrait', Verdana, serif;
$font--secondary: 					'PressuraRegular', Verdana, serif;
$font--secondaryBold:				'PressuraBold', Verdana, serif;
$fontSizeText:						4vw;

$paddingModule: 					5vh;