@import 'normalize';
@import 'fonts';
@import 'zindex';
@import 'variables';
@import 'navigation';


/****************************
	GLOBAL 
****************************/

*{
	box-sizing: border-box;
}
body{
	font-family: $font--primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
body.cp{ /* COLOR PRIMARY*/
	background: $color--primary;
	.section-transition-circle{
		background: $color--secondary;
	}
	.section-trigger-spacebar-text{
		background: $color--secondary;
	}
	.nav-list-bg{
		background: $color--secondary;
	}	
	.nav-list-item--active span{
		background: $color--primary;
	}
}
body.cs{ /* COLOR SECODNARY*/
	background: $color--secondary;
	.section-transition-circle{
		background: $color--primary;
	}
	.section-trigger-spacebar-text{
		background: $color--primary;
	}
	.nav-list-bg{
		background: $color--primary;
	}
	.nav-list-item--active span{
		background: $color--secondary;
	}
}
h1{
	color: $color--textPrimary;
	font-size: 120px;
	font-size: 24vw;
	font-weight: 100;
}
p{
	line-height: 1.1;
	padding: $paddingModule 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: white;
}
.container{
	width: 80%;
	margin: 0 auto;
}
section{
	position: relative;
	/*padding: 100px 0 0px 0;*/
	padding: $paddingModule 0 0 0;
}
section[data-status="hidden"]{
	display: none;	
}
section.active{
	min-height: 100vh;
	padding-bottom: $paddingModule * 3;
}
/*.section-wrapper{
	display: table;
	fix for let the min-height woking
	height: 1px;
	min-height: 100vh;
}
.section-inner{
	display: table-cell;
	vertical-align: middle;
}*/
#section--0{
	min-height: auto;
	height: 700px;
	height: 100vh;
}
#section--1{
	/*padding-top: 0px;*/
}
/****************************
	STYLE 
****************************/
.main-heading{
	position: absolute;
	top: 0;
	left: 0;
	font-family: $font--secondary;
	font-size: 16px;
	color: white;
	padding-top: 50px;
	&:before{
		content: '';
		position: absolute;
		width: 500px;
		height: 2px;
		background: white;
		opacity: 0.5;
		left: -515px;
		margin-top: 8px;
	}
}
.main-heading-attention{
	margin-bottom: 12px;
	font-size: 13px;
	letter-spacing: 2px;
}
.main-title{
	position: absolute;
	top: 50%;
	margin: 0;
	padding: 0;
	transform: translateY(-50%);
}
.main-heading-attention{
	text-transform: uppercase;
	opacity: 0.5;
}
.answer{
	color: $color--textPrimary;
	font-size: $fontSizeText;
	text-align: left;
	padding-right: 20%;
}
.question{
	color: white;
	font-size: $fontSizeText;
	text-align: right;	
	padding-left: 20%;
	padding-bottom: 0;
}
	



/****************************
	SECTION TRANSITION 
****************************/
.section-trigger{
	position: fixed;
	width: 100%;
	bottom: 20px;
	left: 0;
	font-family: $font--secondary;
	z-index: $zI--sectionTrigger;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3.3px;
}
.section-trigger > span{
	display: inline-block;
	vertical-align: middle;
	
}
.section-trigger-spacebar{
	position: relative;
}
.section-trigger-spacebar-text{
	position: relative;
	padding: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 700;
	overflow: hidden;
}
.section-trigger-spacebar-text span:nth-of-type(1){
	z-index: 2;
	display: inline-block;
	position: relative;
}
.section-trigger-spacebar-fill{
	background: $color--textPrimary;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: 1;
	transform: translateX(-100%);
}
.section-trigger-spacebar-bottom{
	width: 100%;
	height: 100%;
	top: 6px;
	left: 0;
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: $color--textPrimary;
	z-index: -1;
}
.section-transition{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
	&.visible{
		visibility: visible;
		z-index: $zI--transitionSection;
	}
}
.section-transition-circle{
	position: fixed;
	height: 1500px;
	width: 1500px;
	border-radius: 50%;
	transform: translate3d(-50%, -50%,0);
	background: $color--secondary;
}
.section-transition-circle:nth-of-type(1){
	top: 22%;
	left: 68%;
}
.section-transition-circle:nth-of-type(2){
	top: 60%;
	left: 25%;
}
.section-transition-circle:nth-of-type(3){
	top: 80%;
	left: 70%;
}
.section-transition-circle:nth-of-type(4){
	top: 20%;
	left: -5%;
}
.section-transition-circle:nth-of-type(5){
	top: 45%;
	left:110%;
}
.section-transition-circle:nth-of-type(6){
	top: 90%;
	left: 40%;
}
.tesssss{
	width: 100px;
}
